{# vim:set softtabstop=2: -#}
{% include("_header.html") %}

    <h2>Sections
      <a class="right button" href="/sections/new?lang={{ lang }}">New Section</a>
      <select class="right button" name="lang">
      {% for item in languages %}
        <option value="{{ item.lang }}" {{ 'selected="selected"' if lang == item.lang else "" }}>{{ item.language }}</option>
      {% endfor %}
      </select>
    </h2>
    <table class="users">
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>State</th>
        <th>Private</th>
        <th>Order</th>
        <th>Action</th>
      </tr>
      {% for section in sections %}
      <tr>
        <td>{{ section.id }}</td>
        <td><div>
          <a href="/{{ section.lang }}/{{ section.path }}" data="title">{{ section.title }}</a>
          </div></td>
        <td>{{ section.state.value }}</td>
        <td>{{ "Private" if section.private else "Public" }}</td>
        <td>
          <a up="{{ section.id }}" title="Higher">&#x25B2;</a>
          <a down="{{ section.id }}" title="Lower">&#x25BC;</a>
        </td>
        <td class="action">
          {%- if section.state.value != "ARCHIVED" %}
            <a cmd="archive" section-id="{{ section.id }}">Archive</a> |
            {% if section.private %}
            <a public="{{ section.id }}">Public</a> |
            {% else %}
            <a private="{{ section.id }}">Private</a> |
            {% endif %}
          {% endif %}
          {% if section.state.value != "LOCKED" %}
            <a cmd="lock" section-id="{{ section.id }}">Lock</a> |
          {% endif %}
          {% if section.state.value != "OPEN" %}
            <a cmd="open" section-id="{{ section.id }}">Open</a> |
          {% endif %}
            <a href="/sections/{{ section.id }}">Edit</a>
        </td>
      </tr>
      <tr>
        <td colspan="6">{{ section.description|md2rst|rst2html }}</td>
      </tr>
    {% endfor %}
    </table>

  {% include("_pager.html") %}

  <script src="/js/sections.js"></script>
  <script>
    $(document).ready(function() {
    let sections = new Sections();
    $('select[name=lang]').on('change', function(ev){
        location.search = "lang="+$(ev.target).val();
    });
  });
  </script>

  {% include("_footer.html") %}
