python-dateutil
PoorWSGI
jinja2_template_info
docutils
docutils-tinyhtmlwriter
git+https://github.com/axiros/gevent_mysqldb.git@v2.1.1#egg=mysqlclient
gevent
m2r2
bcrypt
git+https://github.com/ondratu/falias.git#falias
simplejson
