/* vim:set softtabstop=2: */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 12pt;
}

nav {
  /*height: 50pt;*/
  width: 100%;
  z-index: 100;
  top: 0;
  text-align: right;
  font-size: 16pt;
  line-height: 40pt;
  background: #dcdcdc;
}
nav > * > .title {
  float: left;
}
nav > * > a, nav > * > a:visited {
  color: blue;
  top: 0;
  padding: 0 0.25em 0 0.25em;
  white-space: nowrap;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 0 8pt;
}
.dropdown .menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  border: 1px solid gray;
  border-radius: 4pt;
  padding: 8pt 16pt;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  line-height: 24pt;
  z-index: 1;
  text-align: left;
}
.dropdown:hover .menu { display: block; }

h1 {
  margin: 0;
}
h1 > a,
h1 > a:hover,
h1 > a:visited {
  color: black;
  text-decoration: none;
}

h3.section {
  background-color: #dcdcdc;
  border-radius: 4pt;
  padding: 2pt 5pt;
}

h3.topic,
#new-post {
  background-color: #dcdcdc;
  border-radius: 4pt;
  padding: 2pt 5pt;
  font-size: 14pt;
}
h4.topic {
  background-color: #eee;
  border-radius: 4pt;
  padding: 2pt 5pt;
  font-size: 12pt;
  margin-left: 24pt;
}

h3.section > small,
h3.topic > div,
h4.topic > div {
  font-size: 10pt;
  line-height: 14pt;
  color: black;
  font-weight: normal;
}
h3 > div,
h3 > div {
  display: grid;
}
h3 > div > *,
h4 > div > * {
  grid-row: 1;
}
h3 > div > [rel=dh-updated],
h4 > div > [rel=dh-updated] {
  margin: 0 5pt;
  padding: 0 5pt;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
h3 > div > [rel=author],
h4 > div > [rel=author] {
  min-width: 10em;
  display: inline-block;
}

.pager {
  padding-left: 0;
  margin: 20px 0;
  list-style: none;
  text-align: center;
}
.pager li {
  display: inline;
}
.pager li > a {
  display: inline-block;
  padding: 5px 14px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus {
  color: #777777;
  background-color: #ffffff;
  cursor: not-allowed;
}
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #cccccc;
}
.breadcrumb > .active {
  color: #777777;
}

.page-width {
  max-width: 800pt;
  margin: auto;
  padding-left: 16pt;
  padding-right: 16pt;
}

.page {
    padding: 16pt;
}


a, a:visited, a:hover {
  color: blue;
  cursor: pointer;
}

pre {
  overflow: auto;
}

input {
  padding: 5pt 8pt;
  margin-bottom: 5pt;
  max-width: calc(100% - 18pt);

  border: 1px solid gray;
  border-radius: 4pt;
  font-size: 12pt;
  font-family: monospace;
}

textarea {
  padding: 5pt 8pt;
  border: 1px solid gray;
  border-radius: 4pt;
  font-size: 12pt;
  font-family: monospace;
  resize: none;
}

button,
.button,
.button:visited {
  background-color: lightgray;
  color: black;
  padding: 2pt 5pt;
  border: 1px solid gray;
  border-radius: 4pt;
  font-size: 12pt;
  text-decoration: none;
}
button:hover,
.button:hover {
  border: 1px solid dimgray;
  color: black;
}

.form label,
.form .buttons {
  display: block;
  clear: both;
  line-height: 24pt;
}
.form label span {
  padding: 5pt;
}
.form label input,
.form label textarea {
  float: right;
}
label.error > input,
.editor .error {
  border-color: red;
}
.form div {
  padding: 5pt;
  clear: both;
}
form div.error {
  color: red;
}
.form div.info {
  font-size: 90%;
  color: #333;
}
.form .hr {
  clear: both;
  height: 8pt;
  border-bottom: 1px solid gray;
  margin-bottom: 8pt;
}
.form .buttons > a {
  padding: 0 4pt;
}

.attachments input[type=file] {
}
.attachments div {
  height: 20pt;
  font-family: monospace;
  padding: 5pt 5pt;
  margin-bottom: 3pt;
  margin-left: 3px;
}
.attachments div:hover {
  background: #dcdcdc;
}
.attachments div span
{
  float: right;
}
.attachments a[file_name]{
  cursor: pointer;
}
.attachments .button {
  margin-left: 5px;
  width: 20pt;
  height: 20pt;
  padding: 5pt 8pt;
  margin-bottom: 5pt;
  font-family: monospace;
  font-weight: bold;
  color: red;
}
.attachments .button:after{
  content:"\a";
  white-space: pre;
}

.login {
  width: 30em;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.signup {
  width: 35em;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}
.signup label input:not([type=checkbox]),
.signup label textarea {
  width: 25em;
}

.profile {
  max-width: 25em;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}
.profile > div {
    margin-top: 4pt;
}
.profile img {
  display: block;
  margin: auto;
  border-radius: 50%;
}
.profile .label {
  width: 6em;
  display: inline-block;
  text-align: right;
  padding-right: 4pt;
  font-size: 11pt;
}


.message {
  max-width: 100%;
  width: 400pt;
  height: 100pt;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -50pt 0 0 -200pt;
  background:rgba(1,1,1,0.5);
  border-radius: 4pt;
  padding: 8pt;
}
.message .symbol {
  float: left;
  font-size: 32pt;
  margin-top: -8pt;
  margin-right: 4pt;
  color: #3e68b9;
}
.message .content {
/*  height: 100%;
  line-height: 32pt;*/
  font-size: 14pt;
  padding: 41pt 8pt;
  background: white;
  border-radius: 4pt;
}
.message .content .text {
  text-align: center;
  padding-right: 20pt;
}
.message .content button {
  position: absolute;
  right: 12pt;
  bottom: 12pt;
}
.info {
  color: black;
}
.error .content {
  color: red;
}
.error .symbol {
  color: red;
  border: 3pt solid red;
  border-radius: 20pt;
  width: 38pt;
  text-align: center;
  margin-right: 8pt;
}

.right {
  float: right;
}
.left {
  float: left;
}
.clear {
  clear: both;
}
.p50 {
  width: 50%;
}

h3:has(.updown-button){
  background-color: #eee;
  border: 1px solid #aaa;
  border-top-left-radius: 4pt;
  border-top-right-radius: 4pt;
  margin-bottom: 0;
  padding: 2pt 5pt;
}
h3:has(.updown-button)+div{
  padding: 2pt;
  display: none;
  border-bottom: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom-left-radius: 4pt;
  border-bottom-right-radius: 4pt;
}

.post {
  border: dotted 1px #777;
  border-radius: 5pt;
  margin-bottom: 5pt;
  clear: both;
  background: #eeeeee;
}
.post * {
    box-sizing: border-box;
}
.post .header {
  font-size: 12pt;
  padding: 4pt;
}
.post a[replay] {
    text-decoration: underline;
}
.post .author {
    float: left;
    width: 148px;
    height: 100%;
    text-align: center;
    font-size: 80%;
}
.post .author img {
    display: block;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 8pt;
    margin-top: 4pt;
}
.post .author > div {
    margin-top: 3pt;
}
.post .body {
  float: left;
  padding: 2pt 8pt;
  width: calc(100% - 150px);
}
.post .body img {
  max-width: 100%;
}
.post .signature {
  font-size: 90%;
  padding: 2pt 0pt;
  border-top: 1px dotted #777;
}
.post .attachments span {
  display: block;
  float: left;
  padding: 0 32px 0 0;
}
.post .footer {
  clear: both;
  font-size: 80%;
  margin-top: 0;
  padding: 2pt 0pt;
  min-height: 1em;
}


.editor {
  display: grid;
}
.form .editor,
.form .btn-group {
  padding: 0 5pt;
}
.form .btn-group button {
  border-bottom: 0;
}
.editor > * {
  grid-column: 1;
  grid-row: 1;
  border: 1px solid #767676;
  border-radius: 4pt;
  padding: 5pt 8pt;
}

.source {
  resize: none;
  font-family: monospace;
  background: transparent;
  border-top-left-radius: 0;
}

.syntax {
  color: #fff;
  overflow: hidden;
  font-family: monospace;
  background: transparent;
}
.syntax .error-line {
  background: #fbb;
}

.btn {
  padding: 5pt 16pt;
  background: transparent;
  border: 1px solid transparent;
  border-bottom: 0;
}
.btn.active {
  border: 1px solid gray;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.in-replay > label {
  font-size: 10pt;
}
.in-replay > input {
  font-size: 10pt;
  padding: 2pt 4pt;
}

.users {
  width: 100%;
  border: 1px solid gray;
  border-radius: 5pt;
  border-spacing: 0;
}
.users tr {
  line-height: 20pt;
}
.users tr:nth-child(odd){
  background: #eee;
}
.users tr:first-child{
  background: #dcdcdc;
}
.users td {
  padding: 5pt;
}
.users td.action {
  text-align: right;
}
.users td div {
  display: flex;
  align-items: center;
}
.users td div img {
  padding-right: 5pt;
}

.list-box,
.search-box {
   height: 10em;
   overflow: auto;
}
.list-box div,
.search-box div {
  padding-top: 2pt;
  padding-bottom: 2pt;
  border-bottom: 1px solid #ddd;
}
.list-box div:before {
    content: "-";
    padding-right: 8pt;
    color: red;
}
.search-box div:before {
    content: "+";
    padding-right: 8pt;
    color: blue;
}
