{# vim:set softtabstop=2: -#}
    </div>{# /page #}
    <script>
        $(document).ready(function() {
            $('.updown-button').parent().on('click', function(ev) {
                console.log($(ev.target).parent());
                $(ev.target).next().slideToggle();
            });
        });
    </script>

    <div class="footer page-width">
      <center><small>
          Create by Ondřej Tůma 2024.
          Found a bug? Please <a href="https://github.com/ondratu/poleom/issues">
            report</a> it.
      </small></center>
      {%- if template_info is defined %}
      {%- from 'template_info.html' import render_info %}
      <pre class="template-info">
        {{ render_info(template_info.context().get_exported()) }}
      </pre>
      {% endif %}
    </div>
  </body>
</html>
