{# vim:set softtabstop=2: -#}
<!DOCTYPE html>
<html>
  <head>
    <!-- needed for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta content="Forum" lang="en" name="description" property="og:description">
    <meta content="Forum" name="og:title" property="og:title">
    <meta content="Forum" name="twitter:title" property="twitter:title">
    <meta content="website" name="og:type" property="og:type">
    <meta content="/favicon.ico" name="og:image" property="og:image">
    <meta content="summary" name="twitter:card" property="twitter:card">
    <meta content="@mcbig_cz" name="twitter:creator" property="twitter:creator">
    <meta content="Forum" name="keywords">
    <link href="/css/poleom.css" rel="stylesheet">
    <link href="/css/tiny-writer.css" rel="stylesheet">
    {#<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>#}
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/docutils-editor.js"></script>
    <script src="/js/message.js"></script>
    <title>{{ title }}</title>
  </head>
  <body>
    <nav>
      <div class="page-width">
        <h1 class="title"><a href="/">{{ title }}</a></h1>
      {% if user %}
        <div class="dropdown">
          <a>{{ user.name }}</a>
          <div class="menu" data="account">
            <a href="/user/account">Account</a>
            <a href="/logout">Log out</a>
          </div>
        </div>
      {% elif notheader is not defined %}
        <a href="/login" class="button">Log in</a>
        <a href="/signup" class="button">Sign up</a>
      {% else %}
        <div>&nbsp;</div>
      {% endif %}
      </div>
    </nav>

    <div class="page-width">
