{# vim:set softtabstop=2: -#}
<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
  <head>
    <title>{{ title }}{{ title_post or "" }}</title>
    <meta name="title" property="og:title" content="{{ title }}{{ title_post or "" }}">
    <meta name="description" property="og:description" lang="{{ lang }}" content="{{ description or "Poleom forum" }}">
    <meta property="og:type" content="{{ "article" if author is defined else "profile" if username is defined else "website" }}">
{%- if published_time is defined %}
    <meta property="og:article:published_time" content="{{ published_time }}">
{%- endif %}
{%- if username is defined %}
    <meta property="og:profile:username" content="{{ username }}">
{%- endif %}
{%- if author is defined %}
    <meta name="author" property="og:author" content="{{ author }}">
{%- endif %}
    <meta property="og:locale" content="{{ languages[lang].locale }}">

    <meta name="twitter:card" property="twitter:card" content="summary">
    <!--meta property="twitter:domain" content=""-->
    <meta name="twitter:creator" property="twitter:creator" content="@mcbig_cz">

    <meta name="keywords" content="forum help discussion">
    <meta name="robots" content="index, follow, all">

    <!-- needed for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/css/poleom.css">
    <link rel="stylesheet" href="/css/tiny-writer.css">

    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/docutils-editor.js"></script>
    <script src="/js/message.js"></script>
  </head>
  <body>
    <nav>
      <div class="page-width">
        <h1 class="title"><a href="/{{ lang }}/">{{ title }}</a></h1>
      {% if languages %}
        <div class="dropdown">
          <a>{{ languages[lang].language }}</a>{# get from path #}
          <div class="menu" data="language">
          {% for key, val in languages.items() if key != lang %}
            <a href="/{{ val.lang }}/">{{ val.language }}</a>
          {% endfor %}
          </div>
        </div>
      {% endif %}
      {%- if me %}
        <div class="dropdown">
          <a title="{{ me.name }}">
            <img src="https://gravatar.com/avatar/{{ me.email|sha256 }}?s=48"></a>
          <div class="menu" data="account">
            <a href="/user/profile?lang={{ lang }}">Profile</a>
            <a href="/user/account?lang={{ lang }}">Settings</a>
            <hr/>
          {%- if me.is_moderator() %}
            <a href="/sections?lang={{ lang }}">Sections</a>
          {%- if me.is_admin() %}
            <a href="/users?lang={{ lang }}">Users</a>
          {%- endif %}
            <hr/>
          {%- endif %}{# // is_moderator #}
            <a href="/logout">Log out</a>
          </div>
        </div>
      {%- elif notheader is not defined %}
        <a href="/login?lang={{ lang }}" class="button">Log in</a>
        <a href="/signup?lang={{ lang }}" class="button">Sign up</a>
      {%- else %}
        <div>&nbsp;</div>
      {%- endif %}
      </div>
    </nav>

    <div class="page">
