{# vim:set softtabstop=2: -#}
{%- set edit_offset = "?offset="+pager.offset|format if pager.offset > 0 else "x" %}
{%- for post in posts %}
<div class="post">
  <div class="header">
      <span class="right">
      <a id="{{ post.hexdigest }}" href="#{{ post.hexdigest }}">Link</a>
      | <a replay={{ post.hexdigest }}>Reply</a>
      {%- if user and user.id == post.user_id %}
      | <a href="/s/{{ section.path }}/{{ topic.path }}/{{ post.hexdigest}}{{edit_offset}}">Edit</a>
      {%- endif %}
    </span>
  </div>
  <div class="author">
    <img src="https://gravatar.com/avatar/{{ post.user.email|sha256 }}?s=64">
    <div rel="author">{{ post.user.name }}</div>
    <div rel="role">{{ post.user.role.value }}</div>
  </div>
  <div class="body">
    {{ post.body|md2rst|rst2html }}
    <div class="signature">{{ (post.user.signature or "")|md2rst|rst2html }}</div>
    <div class="footer">Posted: {{ post.created|local(time_zone) }}
    {%- if post.modified %}
      <span class="right">Modified: {{ post.modified|local(time_zone) }}</span>
    {%- endif  %}
    </div>
  </div>
  <div class="clear"></div>
</div>
{%- endfor %}

{% include("_pager.html") %}

<h3 id="new-post">New Post <small class="right">Re: {{ topic.title }}</small></h3>

{% if user %}
<!--form method="post" action="/s/{{ section.path }}/{{ topic.path }}"-->
<form method="post" action="#new-post">
  <label class="{{ "error" if "body" in errors }}" for="post-editor">Post:</label>
  <div class="right in-replay">
    <label>In Replay:</label>
    <input id="parent_hexdigest" name="parent" value="{{ parent or "" }}" readonly>
  </div>
  <textarea name="body" id="post-editor" placeholder="Your post message"
            cols="80" rows="10">{{ body or ""}}</textarea>
  <br/>
  {% if "body" in errors %}
  <div class="error">{{ errors.body.value }}</div>
  {% endif -%}

  <input value="Create" type="submit">
  <input value="Clear" type="reset">
</form>

<script>
  $(document).ready(function() {
    let post_editor = new DocutilsEditor('#post-editor');
    // TODO scroll down to post
    $('a[replay]').on('click', function(ev){
      let hexdigest = $(ev.target).attr('replay')
      $.ajax({url: '/p/'+hexdigest,
              type: 'get',
              success: function(data){
                post_editor.$source.val('>'+data.post.body.replaceAll('\n', '\n>'));
                $('#parent_hexdigest').val(hexdigest);
                document.querySelector('#new-post').scrollIntoView();
              },
              error: function(xhr, status, http_status) {
                console.error(http_status);
                alert("Request error");
              }
      })

    });
  });
</script>

{% else %}
<p>You have to be log in...</p>
{% endif %}
