{# vim:set softtabstop=2: -#}
<h2>Sections</h2>

{% for section in sections %}
<a href="/{{ section.lang }}/{{section.path}}">
  <h3 class="section">
    {{ section.title }}
    <small class="right">Topics: {{ section.count }}</small>
  </h3></a>
  <p>{{ section.description|md2rst|rst2html }}</p>

  {% for topic in section.topics %}
  <a href="/{{ section.lang }}/{{ section.path }}/{{ topic.path }}">
  <h4 class="topic">
    {{topic.title }}
    <div class="right">
      <span>Posts: {{ topic.count }}</span>
      <span rel="dh-updated">Last: <b>{{ topic.last|local(time_zone) }}</b></span>
      <span rel="author">by {{ topic.user_name }}</span>
    </div>
  </h4></a>
{% endfor %}

{% endfor %}
