{# vim:set softtabstop=2: -#}
<h2>Sections:</h2>

{% if me.is_moderator() %}
<h3>New Section <span class="right updown-button">&udarr;</span></h3>
<div>

  <form method="post" action="/s">
    <label>
      Title:
      <input name="title" placeholder="Section Title" maxlength="255" size="80"/>
    </label>
    <br/>
    <label for="section-editor">Description:</label><br/>
    <textarea id="section-editor" name="description"
      placeholder="Section Descripion" cols="80" rows=5></textarea>
    <br/>
    <input value="Create" type="submit">
  </form>

  <script>
    $(document).ready(function() {
      let section_editor = new DocutilsEditor('#section-editor');
    });
  </script>

</div>
{% endif %}

{% for section in sections %}
<a href="/s/{{section.path}}">
  <h3 class="section">
    {{ section.title }}
    <small class="right">Topics: {{ section.count }}</small>
  </h3></a>
  <p>{{ section.description|md2rst|rst2html }}</p>

  {% for topic in section.topics %}
  <a href="/s/{{ section.path }}/{{ topic.path }}">
  <h4 class="topic">
    {{topic.title }}
    <div class="right">
      <span>Posts: {{ topic.count }}</span>
      <span rel="dh-updated">Last: <b>{{ topic.last|local(time_zone) }}</b></span>
      <span rel="author">by {{ topic.user_name }}</span>
    </div>
  </h4></a>
{% endfor %}

{% endfor %}

{% if total < 2 %}
<p>No Sections here...</p>
{% endif %}
