{# vim:set softtabstop=2: -#}
{% if me %}
<h3>New Topic <span class="right updown-button">&udarr;</span></h3>
<div>
{% if section.state.value == "OPEN" or me.is_moderator() %}
<form method="post" action="/{{ section.lang }}/{{ section.path }}">
  <label>
    Title:
    <input name="title" placeholder="Topic Title" maxlength="255" size="80"/>
  </label>
  <br/>
  <label for="topic-editor">Description:</label><br>
  <textarea name="body" id="topic-editor"
    placeholder="First Topic Post" cols="80" rows="10"></textarea>
  <br/>
  <input value="Create" type="submit">
</form>

<script>
  $(document).ready(function() {
    let topic_editor = new DocutilsEditor('#topic-editor');
  });
</script>

{% else %}
<p>Section is locked.</p>
{% endif %}
</div>
{% endif %}{# // endof if me #}

{% for topic in topics %}
<a href="/{{ section.lang }}/{{ section.path }}/{{ topic.path }}">
  <h3 class="topic">
    {{topic.title }}
    <div class="right">
      <span>Posts: {{ topic.count }}</span>
      <span rel="dh-updated">Last: <b>{{ topic.last|local(time_zone) }}</b></span>
      <span rel="author">by {{ topic.user_name }}</span>
    </div>
  </h3></a>
{% endfor %}

{% if total == 0 %}
<p>No Topics here...</p>
{% else %}
{% include("_pager.html") %}
{% endif %}
