{# vim:set softtabstop=2: -#}
{% include("_header.html") %}

  {% include("_sections.html") %}

  {% include("_topics.html") %}

  <script>
    $(document).ready(function() {
      if (document.location.hash == '#registration-done'){
          (new Message('You are on board. Welcome.'))
                  .insertBefore('.footer');
      };
      if (document.location.hash == '#reset-password-done'){
          (new Message('Your password was reset sucessfull.'))
                  .insertBefore('.footer');
      };
    });
  </script>

  {% include("_footer.html") %}
