{# vim:set softtabstop=2: -#}
{% set page = "" %}
{% include("_header.html") %}

<ul class="breadcrumb">
  <li><a href="/">{{ title }}</a></li>
  <li><a href="/s/{{ section.path }}">{{ section.title }}</a></li>
  <li><a href="/s/{{ section.path }}/{{ topic.path }}">{{ topic.title }}</a></li>
  <li class="active">{{ post.hexdigest }}</li>
</ul>

<h3 id="new-post">Edit Post</h3>

<form method="post" enctype="multipart/form-data">
  <label class="{{ "error" if "body" in errors }}" for="post-editor">Post:</label>
  <div class="right in-replay">
    <label>In Replay:</label>
    <input id="parent_hexdigest" name="parent" value="{{ post.parent }}"
           readonly>
  </div>
  <textarea name="body" id="post-editor"
            placeholder="Your post message" cols="80" rows="10">{{ post.body }}</textarea>
  <br/>
  {% if "body" in errors %}
  <div class="error">{{ errors.body.value }}</div>
  {% endif -%}

  <div class="attachments">
    {%- for attachment in attachments %}
    <div>
      <a href="/a/{{ attachment.hexdigest }}/{{ attachment.file_name }}" title="{{ attachment.mime_type }}">
          {{ attachment.file_name }}</a>
      <small>{{ attachment.data.length|hbytes}}</small>
      <span>
        <a paste="{{ attachment.hexdigest }}" file_name="{{ attachment.file_name }}">
          Paste link</a> |
        <a remove="{{ attachment.hexdigest }}" file_name="{{ attachment.file_name }}">Remove</a></span>
    </div>
    {%- endfor %}
    <input type="file" name="attachments">
  </div>

  <input value="Update" type="submit">
  <input value="Undo" type="reset">
  <a class="right"
     href="/s/{{ section.path }}/{{ topic.path }}{{ offset }}#{{post.hexdigest }}">
    Cancel</a>
</form>

<script src="/js/attachment.js"></script>
<script>
  $(document).ready(function() {
    let post_editor = new DocutilsEditor('#post-editor');
    let attachment = new Attachment('input[type=file]:last-child', '#post-editor');
  });
</script>



{% include("_footer.html") %}
