{# vim:set softtabstop=2: -#}
{% set title_post = " | " + section.title -%}
{% set s_description = (section.description or "")|md2rst|rst2html -%}
{% set description = s_description|striptags|truncate(180) -%}
{% include("_header.html") %}

<ul class="breadcrumb">
  <li><a href="/">{{ title }}</a></li>
  <li><a href="/{{ section.lang }}">{{ section.lang }}</a></li>
  <li class="active">{{ section.title }}</li>
</ul>

<h2 class="section">{{ section.title }}</h2>
<div>{{ s_description }}</div>

{% include("_topics.html") %}

{% include("_footer.html") %}
