{# vim:set softtabstop=2: -#}
{% set notheader = True -%}
{% include("_header.html") %}

{% if change_request.state.value == "PASSWORD" %}

    <h2>Reset Password</h2>

    <form class="form signup" method="post"
          action="/c/{{ change_request.hexdigest }}?lang={{ lang }}">
      <label class="{{ "error" if "password" in errors }}">
        <span>Password:</span>
        <input name="password" type="password"/>
      </label>
      {% if "password" in errors %}
      <div class="error">{{ errors.password.value }}</div>
      {% endif -%}
      <div class="info">At least 10 chars with uppercase letter,
        lowercase and number or more then 15 chars.</div>

      <label class="{{ "error" if "password_again" in errors }}">
        <span>Password again:</span>
        <input name="password_again" type="password"/>
      </label>
      {% if "password_again" in errors %}
      <div class="error">{{ errors.password_again.value }}</div>
      {% endif -%}

      <div class="buttons">
        <input value="Reset password" type="submit"/>
      </div>
    </form>

{% endif %}{# // Change Request State #}

{% include("_footer.html") %}
