Your {{ user.role.value }} account on {{ title }} was deleted.
Information about in your profile are anonymized, your posts
are still available, but without your identity.

We want to inform you, that you can't login now. But you can register
here again, but without any link to previews member account.

--
This email is automated generated, do not replay to it.
