{# vim:set softtabstop=2: -#}
{% include("_header.html") %}

    <h2>User Profile</h2>

    <div class="profile">
      <a href="https://gravatar.com/{{ user.email|sha256 }}">
        <img src="https://gravatar.com/avatar/{{ user.email|sha256 }}?s=256"></a>
      <div><span class="label">Name:</span> {{ user.name }}</div>
      {% if me and me.email == user.email %}
      <div><span class="label">Email:</span> {{ user.email }}</div>
      {% endif %}
      <div><span class="label">Role:</span> {{ user.role.value }}</div>
      <div><span class="label">State:</span> {{ user.state.value }}</div>
      <div><span class="label">Signature:</span></div>
      <div>{{ (user.signature or "")|md2rst|rst2html }}</div>

    </div>

  {% include("_footer.html") %}
