{# vim:set softtabstop=2: -#}
{% set notheader = True -%}
{% include("_header.html") %}

    <h2>Reset Password Request</h2>

    {% if sent is not defined %}

    <form class="form signup" method="post" action="/user/reset-password">
      <label class="{{ "error" if "email" in errors }}">
        <span>Email:</span>
        <input name="email" type="email" value=""
               maxlength="200" placeholder="john.doe@example.com"
          size="35"/>
      </label>
      {% if "email" in errors %}
      <div class="error">{{ errors.email.value }}</div>
      {% endif -%}

      <div class="buttons">
        <input value="Send Reset Password link" type="submit"/>
      </div>
    </form>
    {% else %}
    {# Change request for passeword change was sent #}

    <div>
      <p> Reset password request was sent to your email. Please check your email
        inbox as well as spam folder.
      </p>
    </div>

    {% endif %}

  {% include("_footer.html") %}
