Reset password request from to {{ title }}.

Someone with IP address {{ change_request.data.request_ip }}
in browser {{ change_request.data.request_browser }}
made reset password request. To continue click link bellow:

{{ url }}/c/{{ change_request.hexdigest }}

If is not you, you can simply ignore it.

--
This email is automated generated, do not replay to it.
