{# vim:set softtabstop=2: -#}
{% set notheader = True -%}
{% include("_header.html") %}

    <h2>Sign up</h2>

    <form class="form signup" method="post" action="/signup">
      <label class="{{ "error" if "name" in errors }}">
        <span>Name:</span>
        <input name="name" value="{{ name or "" }}" maxlength="255"
               placeholder="John Doe"/>
      </label>
      {% if "name" in errors %}
      <div class="error">{{ errors.name.value }}</div>
      {% endif -%}

      <label class="{{ "error" if "email" in errors }}">
        <span>Email:</span>
        <input name="email" type="email" value="{{ email or "" }}"
               maxlength="200" placeholder="john.doe@example.com"
          size="35"/>
      </label>
      {% if "email" in errors %}
      <div class="error">{{ errors.email.value }}</div>
      {% endif -%}

      <label>
        <span>Signature:</span>
        <textarea name="signature" placeholder="Active Poleom user"
                  rows="5">{{ signature or ""}}</textarea>
      </label>

      <label class="{{ "error" if "password" in errors }}">
        <span>Password:</span>
        <input name="password" type="password"/>
      </label>
      {% if "password" in errors %}
      <div class="error">{{ errors.password.value }}</div>
      {% endif -%}
      <div class="info">At least 10 chars with uppercase letter,
        lowercase and number or more then 15 chars.</div>

      <label class="{{ "error" if "password_again" in errors }}">
        <span>Password again:</span>
        <input name="password_again" type="password"/>
      </label>
      {% if "password_again" in errors %}
      <div class="error">{{ errors.password_again.value }}</div>
      {% endif -%}

      <label class="{{ "error" if "accept_terms" in errors }}">
        <span>Accept <a href="/terms">Terms and Conditions</a></span>
        <input name="accept_terms" type="checkbox"
               {{ "checked" if accept_terms or "" }}>
      </label>
      {% if "accept_terms" in errors %}
      <div class="error">{{ errors.accept_terms.value }}</div>
      {% endif -%}

      <div class="buttons">
        <input value="Sign up" type="submit"/>
        <a class="right" href="/login">Log in</a>
      </div>
    </form>

  {% include("_footer.html") %}
